body {
    min-width: 1280px;
}

header {
    width: 100%;
    height: 58px;
    background-color: #fff;
}

.TimeOfNewLife {
    width: 100%;
    height: 996px;
}

.aboutNW {
    width: 100%;
    height: 361px;
    background-color: #ededed;
}

.searchForNW {
    width: 100%;
    height: 341px;
}

.event {
    width: 100%;
    height: 631px;
    background-color: #f7f7f7;
}

.NWTime {
    width: 100%;
    height: 1090px;

}

.joinUs {
    width: 100%;
    height: 750px;
    background-color: #fff;
    text-align:center;
}

.ContactUs {
    width: 100%;
    height: 361px;
    background-color: #32353e;
}

footer {
    width: 100%;
    height: 59px;
    background-color: #303039;
}

