/*reset*/
*
{
    margin: 0;
    padding: 0;
}
/*common*/
body
{
    background-color: rgba(93,93,93,1);
}
.paper
{
    width: 980px;
    height: 1386px;
    margin: 50px auto;
    background-color: white;
}
.wrap
{
    width: 892px;
}
/*header*/
